/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER / HERO */
header.hero {
    background: #0a2540;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* BOTÓN */
.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #1ebe5d;
}

/* WHATSAPP FLOTANTE */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    font-size: 24px;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.whatsapp:hover {
    background-color: #1ebe5d;
}

/* NAV */
nav {
    background: #133b5c;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background: #1f5f8b;
}

/* SECCIONES */
section {
    padding: 40px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

/* SERVICIOS */
.contenedor-servicios {
    display: grid;
    gap: 20px;
}

/* CARDS */
.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
 object-position: center;
}

/* NOSOTROS */
.nosotros {
    background: white;
}

.nosotros-box {
    max-width: 700px;
    margin: auto;
    background: #f5f7fa;
    padding: 25px;
    border-radius: 10px;
    line-height: 1.6;
}

.valores {
    margin-top: 30px;
    display: grid;
    gap: 10px;
}

.valor {
    background: #0a2540;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* CONTACTO */
.contacto {
    background: #0a2540;
    color: white;
}

.contacto-box {
    display: grid;
    gap: 20px;
    margin-bottom: 30px;
}

.item {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 10px;
}

.item span {
    font-size: 1.5rem;
}

/* RESPONSIVE */
@media (min-width: 768px) {
    .contenedor-servicios {
        grid-template-columns: repeat(3, 1fr);
    }

    .valores {
        grid-template-columns: repeat(4, 1fr);
    }

    .contacto-box {
        grid-template-columns: repeat(3, 1fr);
    }
}